.container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40%;
}

.talk {
  background-color: slateblue;
  width: 200px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
}

.content {
  color: slateblue;
  margin: 5 auto;
  text-align: center;
}
